---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

      </article>

      <div id="disqus_thread"></div>
      <script>

      var disqus_config = function () {
        this.page.url = 'https://{{ site.url | append: page.url }}';
        this.page.identifier = '{{ page.id }}';
      };
      
      (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://fpetkovski-github-io.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                  
    </div>
  </div>
</div>